Combining the datasets into a panel dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset1 = pd.read_csv("P_Data_Extract_From_Global_Financial_Development_new02.csv")
countries_codes = pd.read_csv("countries_codes.csv")
pseries001_merge_new = pd.read_csv("pseries001_merge_new.csv")
wgidataset_new02 = pd.read_csv("wgidataset_new02.csv")

In [3]:
dataset1.head()

   Unnamed: 0 Code    Year  Banking_crisis_dummy
0           0  DEA  1997.0                   NaN
1           1  DEA  1998.0                   NaN
2           2  DEA  1999.0                   NaN
3           3  DEA  2000.0                   NaN
4           4  DEA  2001.0                   NaN

In [5]:
countries_codes.head()

                            Country Name Country Code
0        East Asia & Pacific (IDA total)          DEA
1      Europe & Central Asia (IDA total)          DEC
2                              IBRD only          IBD
3                              IDA total          IDA
4  Latin America & Caribbean (IDA total)          DLA

In [4]:
pseries001_merge_new.head()

,Country,Year,Domestic credit to private sector (% of GDP),GDP growth (annual %),Gross capital formation (annual % growth),Gross fixed capital formation (annual % growth),GDP per capita (constant LCU),GDP (constant LCU),GDP per capita (constant 2015 US$),Gross fixed capital formation (constant LCU),GDP per capita (current LCU),General government final consumption expenditure (% of GDP),Trade (% of GDP),"Inflation, GDP deflator (annual %)"
0,Australia,1997.0,75.323737,3.912835473,..,6.637866446,56708.83688,1.04475E+12,41550.5511,2.00685E+11,30213.69387,18.26498128,37.98335693,1.274310536
1,Australia,1998.0,79.11335216,4.613356892,..,9.743129781,58736.64201,1.09295E+12,43036.32342,2.20238E+11,31665.58324,18.25939377,39.99405994,1.187133418
2,Australia,1999.0,84.11115702,4.956324506,..,4.439288406,60977.08389,1.14712E+12,44677.89465,2.30015E+11,33031.00573,18.67480544,39.05611309,0.479338835
3,Australia,2000.0,87.60312764,3.901171371,..,8.093819968,62634.94675,1.19187E+12,45892.61037,2.48632E+11,34797.77655,18.46970521,40.96698683,2.560383552
4,Australia,2001.0,88.42232662,2.041417338,..,-7.943064449,63098.20318,1.2162E+12,46232.03825,2.28883E+11,36674.81016,18.47598515,44.25035649,4.620333415

First we add the country codes

In [46]:
pseries001_merge_new1 = pseries001_merge_new.copy()

In [47]:
# try:
for i in range(len(pseries001_merge_new1)):
  try:
    var1 = countries_codes[countries_codes["Country Name"] == pseries001_merge_new.loc[i,"Country"]]
    pseries001_merge_new1.loc[i,"Country Code"] = var1.loc[var1.index[0],"Country Code"]
  except:
    pass

In [49]:
pseries001_merge_new1.to_csv("pseries001_merge_new1.csv", index = False)

In [58]:
pseries001_merge_new1.loc[pseries001_merge_new1["Country"]=="Czechia","Country Code"] = "CZE"

In [64]:
pseries001_merge_new1.loc[pseries001_merge_new1["Country"]=="Turkiye","Country Code"] = "TUR"

In [66]:
pseries001_merge_new1.to_csv("pseries001_merge_new1.csv", index = False)

In [50]:
country_list1 = pseries001_merge_new.Country.tolist()

In [52]:
modify1 = list(set([i for i in country_list1 if i not in countries_codes["Country Name"].tolist()]))

In [53]:
modify1

['Czechia', 'Turkiye']

In [67]:
pseries001_merge_new1

,Country,Year,Domestic credit to private sector (% of GDP),GDP growth (annual %),Gross capital formation (annual % growth),Gross fixed capital formation (annual % growth),GDP per capita (constant LCU),GDP (constant LCU),GDP per capita (constant 2015 US$),Gross fixed capital formation (constant LCU),GDP per capita (current LCU),General government final consumption expenditure (% of GDP),Trade (% of GDP),"Inflation, GDP deflator (annual %)",Country Code
0,Australia,1997.0,75.323737,3.912835473,..,6.637866446,56708.83688,1.04475E+12,41550.5511,2.00685E+11,30213.69387,18.26498128,37.98335693,1.274310536,AUS
1,Australia,1998.0,79.11335216,4.613356892,..,9.743129781,58736.64201,1.09295E+12,43036.32342,2.20238E+11,31665.58324,18.25939377,39.99405994,1.187133418,AUS
2,Australia,1999.0,84.11115702,4.956324506,..,4.439288406,60977.08389,1.14712E+12,44677.89465,2.30015E+11,33031.00573,18.67480544,39.05611309,0.479338835,AUS
3,Australia,2000.0,87.60312764,3.901171371,..,8.093819968,62634.94675,1.19187E+12,45892.61037,2.48632E+11,34797.77655,18.46970521,40.96698683,2.560383552,AUS
4,Australia,2001.0,88.42232662,2.041417338,..,-7.943064449,63098.20318,1.2162E+12,46232.03825,2.28883E+11,36674.81016,18.47598515,44.25035649,4.620333415,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249,Vietnam,2011.0,79.94308882,6.413177689,-4.333385475,-4.77369929,33000375.09,2.92E+15,2135.782152,9.17334E+14,40066965.24,9.980918285,125.2605893,21.41366615,VNM
1250,Vietnam,2012.0,75.54939675,5.50454562,2.637879084,2.340041904,34445647.54,3.08E+15,2229.320092,9.388E+14,45618158.01,10.44518703,123.2241255,9.077661531,VNM
1251,Vietnam,2013.0,77.55810389,5.553500245,5.912364074,5.850021304,35969328.98,3.25E+15,2327.932657,9.9372E+14,49559854.38,10.91616611,130.8463436,4.03855076,VNM
1252,Vietnam,2014.0,80.0010263,6.422246656,9.072625276,9.279978263,37873326.16,3.46E+15,2451.159232,1.09E+15,54113056.69,10.31746118,135.4105118,3.698131973,VNM
1253,Vietnam,2015.0,90.39922263,6.987166724,9.629098314,9.800016023,40099467.85,3.70E+15,2595.234979,1.19E+15,56310286.13,10.65491212,144.9142203,-1.716524374,VNM

Next we add the banking crisis dummy.

In [71]:
dataset1 = dataset1[["Code", "Year", "Banking_crisis_dummy"]]
dataset1.columns = ["Country Code", "Year", "Banking_crisis_dummy"]

In [127]:
# dataset1

In [74]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, dataset1, on=['Country Code', 'Year'], how='inner')

Next we add the Regulatory Quality.

In [77]:
wgidataset_new02 = wgidataset_new02[["Code", "Year", "Regulatory_Quality"]]
wgidataset_new02.columns = ["Country Code", "Year", "Regulatory_Quality"]
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, wgidataset_new02, on=['Country Code', 'Year'], how='inner')

In [78]:
pseries001_merge_new1

,Country,Year,Domestic credit to private sector (% of GDP),GDP growth (annual %),Gross capital formation (annual % growth),Gross fixed capital formation (annual % growth),GDP per capita (constant LCU),GDP (constant LCU),GDP per capita (constant 2015 US$),Gross fixed capital formation (constant LCU),GDP per capita (current LCU),General government final consumption expenditure (% of GDP),Trade (% of GDP),"Inflation, GDP deflator (annual %)",Country Code,Banking_crisis_dummy,Regulatory_Quality
0,Australia,1997.0,75.323737,3.912835473,..,6.637866446,56708.83688,1.04475E+12,41550.5511,2.00685E+11,30213.69387,18.26498128,37.98335693,1.274310536,AUS,0.0,1.399904
1,Australia,1998.0,79.11335216,4.613356892,..,9.743129781,58736.64201,1.09295E+12,43036.32342,2.20238E+11,31665.58324,18.25939377,39.99405994,1.187133418,AUS,0.0,1.432211
2,Australia,1999.0,84.11115702,4.956324506,..,4.439288406,60977.08389,1.14712E+12,44677.89465,2.30015E+11,33031.00573,18.67480544,39.05611309,0.479338835,AUS,0.0,1.503912
3,Australia,2000.0,87.60312764,3.901171371,..,8.093819968,62634.94675,1.19187E+12,45892.61037,2.48632E+11,34797.77655,18.46970521,40.96698683,2.560383552,AUS,0.0,1.575613
4,Australia,2001.0,88.42232662,2.041417338,..,-7.943064449,63098.20318,1.2162E+12,46232.03825,2.28883E+11,36674.81016,18.47598515,44.25035649,4.620333415,AUS,0.0,1.498385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,Vietnam,2011.0,79.94308882,6.413177689,-4.333385475,-4.77369929,33000375.09,2.92E+15,2135.782152,9.17334E+14,40066965.24,9.980918285,125.2605893,21.41366615,VNM,0.0,-0.609959
1231,Vietnam,2012.0,75.54939675,5.50454562,2.637879084,2.340041904,34445647.54,3.08E+15,2229.320092,9.388E+14,45618158.01,10.44518703,123.2241255,9.077661531,VNM,0.0,-0.676630
1232,Vietnam,2013.0,77.55810389,5.553500245,5.912364074,5.850021304,35969328.98,3.25E+15,2327.932657,9.9372E+14,49559854.38,10.91616611,130.8463436,4.03855076,VNM,0.0,-0.652517
1233,Vietnam,2014.0,80.0010263,6.422246656,9.072625276,9.279978263,37873326.16,3.46E+15,2451.159232,1.09E+15,54113056.69,10.31746118,135.4105118,3.698131973,VNM,0.0,-0.602058
1234,Vietnam,2015.0,90.39922263,6.987166724,9.629098314,9.800016023,40099467.85,3.70E+15,2595.234979,1.19E+15,56310286.13,10.65491212,144.9142203,-1.716524374,VNM,0.0,-0.488063

Next we add the imf data.

In [88]:
imf_merge_new = pd.read_csv("imf_merge_new01.csv")

In [82]:
pseries001_merge_new2 = pseries001_merge_new1.copy() # save the original version

In [92]:
# pseries001_merge_new1 = pseries001_merge_new2.copy()

In [94]:
# pseries001_merge_new1

In [89]:
len(list(set(imf_merge_new.Country.tolist())))

66

In [95]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, imf_merge_new, on=['Country', 'Year'], how='outer')

In [100]:
pseries001_merge_new1.columns

Index(['Country', 'Year', 'Domestic credit to private sector (% of GDP)',
       'GDP growth (annual %)', 'Gross capital formation (annual % growth)',
       'Gross fixed capital formation (annual % growth)',
       'GDP per capita (constant LCU)', 'GDP (constant LCU)',
       'GDP per capita (constant 2015 US$)',
       'Gross fixed capital formation (constant LCU)',
       'GDP per capita (current LCU)',
       'General government final consumption expenditure (% of GDP)',
       'Trade (% of GDP)', 'Inflation, GDP deflator (annual %)',
       'Country Code', 'Banking_crisis_dummy', 'Regulatory_Quality',
       'Portfolio_investment_assets', 'Real_Expenditure_GDP',
       'Portfolio_investment_debt', 'Portfolio_investment_equity',
       'Real_Public_GDP', 'Real_Priv_GDP', 'Real_Priv_GDP_Machine',
       'Real_Expenditure_GDP_Gross_Fixed', 'Portfolio_investment_liab',
       'Real_Priv_GDP_HH', 'Invest_net_liab', 'Real_Priv_GDP_Building',
       'Real_Priv_GDP_HH_NP', 'Real_Public_GDP_Gov'],
      dtype='object')

In [97]:
pseries001_merge_new1.to_csv("pseries001_merge_new2.csv", index = False)

Next we add the 5yr-CDS spread.

In [98]:
cds_data = pd.read_csv("Fiscal-space-data_KOSE_new1.csv")

In [101]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, cds_data, on=['Country Code', 'Year'], how='outer')

In [102]:
pseries001_merge_new1.head()

,Country,Year,Domestic credit to private sector (% of GDP),GDP growth (annual %),Gross capital formation (annual % growth),Gross fixed capital formation (annual % growth),GDP per capita (constant LCU),GDP (constant LCU),GDP per capita (constant 2015 US$),Gross fixed capital formation (constant LCU),...,Real_Priv_GDP,Real_Priv_GDP_Machine,Real_Expenditure_GDP_Gross_Fixed,Portfolio_investment_liab,Real_Priv_GDP_HH,Invest_net_liab,Real_Priv_GDP_Building,Real_Priv_GDP_HH_NP,Real_Public_GDP_Gov,five_yr_CDS
0,Australia,1997.0,75.323737,3.912835473,..,6.637866446,56708.83688,1.04475E+12,41550.5511,2.00685E+11,...,62422.0,32173.0,215178.0,142876.032189,527933.0,4305.545336,44437.0,NaN,NaN,NaN
1,Australia,1998.0,79.11335216,4.613356892,..,9.743129781,58736.64201,1.09295E+12,43036.32342,2.20238E+11,...,70984.0,31525.0,225533.0,135633.226509,554212.0,-3330.726328,56969.0,NaN,NaN,NaN
2,Australia,1999.0,84.11115702,4.956324506,..,4.439288406,60977.08389,1.14712E+12,44677.89465,2.30015E+11,...,73962.0,32912.0,237271.0,153954.862600,584149.0,13282.066461,54636.0,NaN,NaN,NaN
3,Australia,2000.0,87.60312764,3.901171371,..,8.093819968,62634.94675,1.19187E+12,45892.61037,2.48632E+11,...,74996.0,37064.0,242118.0,156957.064000,604098.0,15580.597697,52748.0,NaN,NaN,NaN
4,Australia,2001.0,88.42232662,2.041417338,..,-7.943064449,63098.20318,1.2162E+12,46232.03825,2.28883E+11,...,67268.0,36089.0,234259.0,157969.428000,622009.0,9078.421425,42972.0,NaN,NaN,4.0

Next we add the HCI

In [105]:
hci = pd.read_excel("pwt91_new.xlsx")
hci = hci[["countrycode", "year", "hc"]]
hci.columns

Index(['countrycode', 'year', 'hc'], dtype='object')

In [106]:
hci.columns = ["Country Code", "Year", "hci"]

In [107]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, hci, on=['Country Code', 'Year'], how='outer')

In [115]:
# list(set(pseries001_merge_new1["Country"].tolist()))

Next we add WEO data

In [116]:
weo_debt = pd.read_csv("WEO_Data_new_debt.csv")
weo_inv = pd.read_csv("WEO_Data_new_inv.csv")

In [118]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, weo_debt, on=['Country', 'Year'], how='outer')

In [120]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, weo_inv, on=['Country', 'Year'], how='outer')

In [122]:
pseries001_merge_new1.to_csv("pseries001_merge_new3.csv", index = False)

Controlling the countries and years

In [124]:
pseries001_merge_new1 = pseries001_merge_new1[pseries001_merge_new1["Year"].isin(list(range(1997,2016)))]

In [125]:
pseries001_merge_new1

,Country,Year,Domestic credit to private sector (% of GDP),GDP growth (annual %),Gross capital formation (annual % growth),Gross fixed capital formation (annual % growth),GDP per capita (constant LCU),GDP (constant LCU),GDP per capita (constant 2015 US$),Gross fixed capital formation (constant LCU),...,Portfolio_investment_liab,Real_Priv_GDP_HH,Invest_net_liab,Real_Priv_GDP_Building,Real_Priv_GDP_HH_NP,Real_Public_GDP_Gov,five_yr_CDS,hci,General government gross debt,Total investment
0,Australia,1997.0,75.323737,3.912835473,..,6.637866446,56708.83688,1.04475E+12,41550.5511,2.00685E+11,...,142876.032189,527933.0,4305.545336,44437.0,NaN,NaN,NaN,3.499875,25.925,24.422
1,Australia,1998.0,79.11335216,4.613356892,..,9.743129781,58736.64201,1.09295E+12,43036.32342,2.20238E+11,...,135633.226509,554212.0,-3330.726328,56969.0,NaN,NaN,NaN,3.512748,23.756,26.170
2,Australia,1999.0,84.11115702,4.956324506,..,4.439288406,60977.08389,1.14712E+12,44677.89465,2.30015E+11,...,153954.862600,584149.0,13282.066461,54636.0,NaN,NaN,NaN,3.525668,22.576,26.352
3,Australia,2000.0,87.60312764,3.901171371,..,8.093819968,62634.94675,1.19187E+12,45892.61037,2.48632E+11,...,156957.064000,604098.0,15580.597697,52748.0,NaN,NaN,NaN,3.538635,19.570,24.970
4,Australia,2001.0,88.42232662,2.041417338,..,-7.943064449,63098.20318,1.2162E+12,46232.03825,2.28883E+11,...,157969.428000,622009.0,9078.421425,42972.0,NaN,NaN,4.0,3.527512,17.180,23.521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15677,Zimbabwe,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.761,22.393
15678,Zimbabwe,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.730,13.526
15679,Zimbabwe,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.559,13.033
15680,Zimbabwe,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.273,13.237
15681,Zimbabwe,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.899,12.052

In [130]:
len(list(set(pd.read_csv("pseries001_merge_new1.csv").Country.tolist())))

66

In [133]:
sel_countries = list(set(pd.read_csv("pseries001_merge_new1.csv").Country.tolist()))

In [135]:
sel_list = countries_codes[countries_codes["Country Name"].isin(sel_countries)]["Country Code"].tolist()

In [136]:
sel_list = sel_list + ["TUR", "CZE"]

In [139]:
pseries001_merge_new1 = pseries001_merge_new1[pseries001_merge_new1["Country Code"].isin(sel_list)]

In [154]:
# 1254/66 = 19

In [155]:
pseries001_merge_new1.loc[pseries001_merge_new1["Country"].isna(), "Country"] = "Romania"

In [158]:
# pseries001_merge_new1[pseries001_merge_new1["Country"]=="Romania"]
pseries001_merge_new1.to_csv("pseries001_merge_new4.csv", index = False)

Finally we add the pull-factor variable: Market potentials

In [159]:
rmp = pd.read_csv("rmp01_new1.csv")

In [162]:
rmp01 = rmp[rmp["iso"].isin(sel_list)]

In [166]:
rmp01.columns = ['Country Code', 'Year', 'lrmp_rv', 'lfmp_rv', 'lrmp_hm', 'lfmp_hm']

In [168]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, rmp01, on=['Country Code', 'Year'], how='outer')

In [170]:
pseries001_merge_new1.to_csv("pseries001_merge_new5.csv", index = False)

Dummies of market potentials

In [207]:
rmp01_new = rmp01
rmp01_rmp_rv = rmp01_new[["Country Code","Year",'lrmp_rv']]
rmp01_fmp_rv = rmp01_new[["Country Code","Year",'lfmp_rv']]
rmp01_rmp_hm = rmp01_new[["Country Code","Year",'lrmp_hm']]
rmp01_fmp_hm = rmp01_new[["Country Code","Year",'lfmp_hm']]

In [208]:
# 1 for high potential (median as the threshold)

rmp01_rmp_rv01 = rmp01_rmp_rv.groupby(by = rmp01_rmp_rv["Country Code"]).mean()
rmp01_rmp_rv01_med = rmp01_rmp_rv01.lrmp_rv.median()
rmp01_rmp_rv01_new = pd.DataFrame({"Country Code": rmp01_rmp_rv01.index.tolist(),
                  "lrmp_rv": rmp01_rmp_rv01["lrmp_rv"].tolist(),
                  })
rmp01_rmp_rv01_new.loc[rmp01_rmp_rv01_new["lrmp_rv"] >= rmp01_rmp_rv01_med, "D_rmp_rv"] = 1
rmp01_rmp_rv01_new.loc[rmp01_rmp_rv01_new["lrmp_rv"] < rmp01_rmp_rv01_med, "D_rmp_rv"] = 0

In [209]:
rmp01_fmp_rv01 = rmp01_fmp_rv.groupby(by = rmp01_fmp_rv["Country Code"]).mean()
rmp01_fmp_rv01_med = rmp01_fmp_rv01.lfmp_rv.median()
rmp01_fmp_rv01_new = pd.DataFrame({"Country Code": rmp01_fmp_rv01.index.tolist(),
                  "lfmp_rv": rmp01_fmp_rv01["lfmp_rv"].tolist(),
                  })
rmp01_fmp_rv01_new.loc[rmp01_fmp_rv01_new["lfmp_rv"] >= rmp01_fmp_rv01_med, "D_fmp_rv"] = 1
rmp01_fmp_rv01_new.loc[rmp01_fmp_rv01_new["lfmp_rv"] < rmp01_fmp_rv01_med, "D_fmp_rv"] = 0

In [210]:
rmp01_rmp_hm01 = rmp01_rmp_hm.groupby(by = rmp01_rmp_hm["Country Code"]).mean()
rmp01_rmp_hm01_med = rmp01_rmp_hm01.lrmp_hm.median()
rmp01_rmp_hm01_new = pd.DataFrame({"Country Code": rmp01_rmp_hm01.index.tolist(),
                  "lrmp_hm": rmp01_rmp_hm01["lrmp_hm"].tolist(),
                  })
rmp01_rmp_hm01_new.loc[rmp01_rmp_hm01_new["lrmp_hm"] >= rmp01_rmp_hm01_med, "D_rmp_hm"] = 1
rmp01_rmp_hm01_new.loc[rmp01_rmp_hm01_new["lrmp_hm"] < rmp01_rmp_hm01_med, "D_rmp_hm"] = 0

In [211]:
rmp01_fmp_hm01 = rmp01_fmp_hm.groupby(by = rmp01_fmp_hm["Country Code"]).mean()
rmp01_fmp_hm01_med = rmp01_fmp_hm01.lfmp_hm.median()
rmp01_fmp_hm01_new = pd.DataFrame({"Country Code": rmp01_fmp_hm01.index.tolist(),
                  "lfmp_hm": rmp01_fmp_hm01["lfmp_hm"].tolist(),
                  })
rmp01_fmp_hm01_new.loc[rmp01_fmp_hm01_new["lfmp_hm"] >= rmp01_fmp_hm01_med, "D_fmp_hm"] = 1
rmp01_fmp_hm01_new.loc[rmp01_fmp_hm01_new["lfmp_hm"] < rmp01_fmp_hm01_med, "D_fmp_hm"] = 0

In [212]:
rmp_dummies = pd.merge(rmp01_rmp_rv01_new, rmp01_fmp_rv01_new,
         on=['Country Code'], how='outer')
rmp_dummies = pd.merge(rmp_dummies, rmp01_rmp_hm01_new,
         on=['Country Code'], how='outer')
rmp_dummies = pd.merge(rmp_dummies, rmp01_fmp_hm01_new,
         on=['Country Code'], how='outer')

In [213]:
rmp_dummies

,Country Code,lrmp_rv,D_rmp_rv,lfmp_rv,D_fmp_rv,lrmp_hm,D_rmp_hm,lfmp_hm,D_fmp_hm
0,ARG,18.899581,0.0,13.478481,0.0,15.025574,0.0,13.435421,0.0
1,AUS,19.535771,1.0,12.823353,0.0,15.013624,0.0,12.774135,0.0
2,AUT,19.469445,1.0,16.422606,1.0,16.952558,1.0,16.354916,1.0
3,BEL,22.025563,1.0,17.480734,1.0,19.438434,1.0,17.407581,1.0
4,BGR,17.618527,0.0,14.878947,1.0,15.252166,0.0,14.835268,1.0
...,...,...,...,...,...,...,...,...,...
60,URY,18.250535,0.0,13.822040,0.0,15.203498,0.0,13.776912,0.0
61,USA,22.600085,1.0,13.556596,0.0,17.629906,1.0,13.516536,0.0
62,VEN,18.285978,0.0,13.680952,0.0,14.824653,0.0,13.631823,0.0
63,VNM,18.568418,0.0,13.374403,0.0,14.703798,0.0,13.303815,0.0
64,ZAF,19.471137,1.0,12.958429,0.0,15.364360,0.0,12.912185,0.0

In [214]:
rmp_dummies = rmp_dummies[["Country Code", "D_rmp_rv", "D_fmp_rv", "D_rmp_hm", "D_fmp_hm"]]

Attaching dummies to the dataset

In [216]:
pseries001_merge_new1 = pd.merge(pseries001_merge_new1, rmp_dummies, on=['Country Code'], how='outer')

Final dataset

In [218]:
pseries001_merge_new1.to_csv("pseries001_merge_new6.csv", index = False)